*{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    height:60px;
    background-color:#0F1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
/**box1**/
.navlogo{
    width:100px;
    height:60px; 
}
.logo{
    background-image:url("amazonlogo.jpg");
    background-size:cover;
    width:100%;
    height:60px;
}
.border:hover{
    border:1.5px solid white;
}
/**box2**/
.navaddress{
    height:50px;
    width:88px;
    padding-top:25px;
}
#add-first{
    color:#cccccc;
    font-size:0.75rem;
    margin-left:15px;

}
#add-sec{
    font-size:1rem;
    margin-left:3px;
    font-weight:700;
}
.addicon{
    display:flex;
    align-items:center;
}
/**box3**/
.navsearch{
    background-color:pink;
    display:flex;
    width:860px;
    height:40px;
    border-radius:4px;
    justify-content:space-evenly;
}
.navselect{
    width:45px;
    height:40px;
    text-align:center;
    background-color:#E6E6E6;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
    font-size:1rem;
}
.navinput{
    width:100%;
    font-size:1rem;
    border:none;
}
.searchicon{
    width:45px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:#febd68;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    font-size:1.2rem;
    color:#0F1111
}
.navsearch:hover{
    border:4px solid #febd68;
}
/**box4**/
.navflag{
    display:flex;
    width:45px;
    height:45px;
    padding-top:30px;
}
.flagicon{
    width:22px;
    height:16px;
    font-size:0.85rem;
}
#flagtext{
    width:19px;
    height:15px;
    font-size:0.85rem;
}
/**box5**/
.navbox4{
    font-size:0.75rem;
}
#navacc{
    font-size:0.9rem;
    font-weight:700;
}
/**box6**/
.navcart{
    width:80px;
    height:50px;
    display:flex;
    padding-top:25px;
}
.carticon i{
    font-size:30px;
    font-weight:700;
}
/**panel**/
.panel {
    display:flex;
    height:39px;
    background-color:#222f3d;
    color:white;
    align-items:center;
    justify-content:space-evenly;
}

.panelopt p{
    display:inline;
    color:#9A2810;
    margin-left:15px;
    font-size:0.85rem;
}
.panelopt{
    width:80%;
}
.paneldeals{
    font-size:0.9rem;
    font-weight:700;
    
}
.herosection{
    background-image:url("hero_image.jpg");
    height:600px;
    background-size:cover;
    display:flex;
    justify-content:center;
}
.herotext{
    height:40px;
    width:97.3%;
    background-color:#0F1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:0.85rem;
    margin-top:250px;
}
.link{
    color:#007185;
}
/**shopsection**/
.box{
    height:400px;
    border:solid white 2px;
    width:23%;
    background-color:black;
    font-weight:9000;
    color:white;
    padding:20px 0px 5px;
    margin-top:20px;
}
.shopsection{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin-top:-280px;
    background-color: #0F1111;
}
.image1{
    height:304px;
    margin-top:20px;
    margin-left:1.2rem;
    margin-right:1.2rem;
    background-size:cover;
    
}
.img-content h2{
    margin-left:1.2rem;
    margin-top:10px;
    
}
.img-content p{
    font-size:0.85rem;
    display:flex;
    color:#007185;
    margin-top:20px;
    margin-left:1.2rem;
}
.footpanel1{
    height:188px;
    background-color:#0F1111;
    color:white;
    
}
.footpanel1 h2{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:15px;
    
}
.btn{
    color:#0F1111;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px;
}
.footpanel1 p{

    font-size:0.75rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
.footpanel1 a{
    color:#007185;
}
.footpanel2{
    height:50px;
    color:white;
    background-color:#37475a;
    display:flex;
    justify-content:center;
    align-items:center;
}
.footpanel3{
    height:300px;
    background-color:#222f3d;
    color:white;
    display:flex;
    justify-content:space-evenly;
    padding-top:25px;
}

ul a{
    display:block;
    color:#febd68;
    font-size:0.85rem;
    margin-top:10px;
}
.footpanel4{
    background-color:#222f3d;
    border-top:0.5px solid white;
    height:70px;
    display:flex;
    justify-content:center;
    align-items:center;

}
.logo{
    background-image:url("amazonlogo.jpg");
    background-size:cover;
    width:100px;
    height:60px;
}
.footpanel5{
    background-color:#0F1111;
    height:80px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;

    
}
.pages{
    color:#febd68;
    font-size:0.75rem;
}
.pages a{
    margin-left:10px;
}
.spcl{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:15px;

}


/* Global Reset */
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  height: 60px;
  background-color: #0F1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navlogo {
  width: 100px;
  height: 60px;
}

.logo {
  background-image: url("amazonlogo.jpg");
  background-size: cover;
  width: 100%;
  height: 60px;
}

.border:hover {
  border: 1.5px solid white;
}

/* Address */
.navaddress {
  height: 50px;
  width: 88px;
  padding-top: 25px;
}

#add-first {
  color: #cccccc;
  font-size: 0.75rem;
  margin-left: 15px;
}

#add-sec {
  font-size: 1rem;
  margin-left: 3px;
  font-weight: 700;
}

.addicon {
  display: flex;
  align-items: center;
}

/* Search */
.navsearch {
  background-color: pink;
  display: flex;
  width: 860px;
  height: 40px;
  border-radius: 4px;
  justify-content: space-evenly;
}

.navselect {
  width: 45px;
  height: 40px;
  text-align: center;
  background-color: #E6E6E6;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  font-size: 1rem;
}

.navinput {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.searchicon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 1.2rem;
  color: #0F1111;
}

.navsearch:hover {
  outline: 2px solid #febd68;
}

/* Flag */
.navflag {
  display: flex;
  width: 45px;
  height: 45px;
  padding-top: 30px;
}

.flagicon {
  width: 22px;
  height: 16px;
  font-size: 0.85rem;
}

#flagtext {
  width: 19px;
  height: 15px;
  font-size: 0.85rem;
}

/* Account */
.navbox4 {
  font-size: 0.75rem;
}

#navacc {
  font-size: 0.9rem;
  font-weight: 700;
}

/* Cart */
.navcart {
  width: 80px;
  height: 50px;
  display: flex;
  padding-top: 25px;
}

.carticon i {
  font-size: 30px;
  font-weight: 700;
}

/* Panel */
.panel {
  display: flex;
  height: 39px;
  background-color: #222f3d;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.panelopt p {
  display: inline;
  color: #9A2810;
  margin-left: 15px;
  font-size: 0.85rem;
}

.panelopt {
  width: 80%;
}

.paneldeals {
  font-size: 0.9rem;
  font-weight: 700;
}

/* Hero Section */
.herosection {
  background-image: url("hero_image.jpg");
  height: 600px;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.herotext {
  height: 40px;
  width: 97.3%;
  background-color: #0F1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  margin-top: 250px;
}

.link {
  color: #007185;
}

/* Shop Section */
.box {
  height: 400px;
  border: solid white 2px;
  background-color: black;
  font-weight: 900;
  color: white;
  padding: 20px 0px 5px;
  margin-top: 20px;
}

.shopsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #0F1111;
  margin-top: -280px;
}

.image1 {
  height: 304px;
  margin: 20px 1.2rem 0;
  background-size: cover;
}

.img-content h2 {
  margin-left: 1.2rem;
  margin-top: 10px;
}

.img-content p {
  font-size: 0.85rem;
  display: flex;
  color: #007185;
  margin-top: 20px;
  margin-left: 1.2rem;
}

/* Footer */
.footpanel1 {
  height: 188px;
  background-color: #0F1111;
  color: white;
}

.footpanel1 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.btn {
  color: #0F1111;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.footpanel1 p {
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footpanel1 a {
  color: #007185;
}

.footpanel2 {
  height: 50px;
  color: white;
  background-color: #37475a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footpanel3 {
  height: 300px;
  background-color: #222f3d;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
}

ul a {
  display: block;
  color: #febd68;
  font-size: 0.85rem;
  margin-top: 10px;
}

.footpanel4 {
  background-color: #222f3d;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footpanel5 {
  background-color: #0F1111;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pages {
  color: #febd68;
  font-size: 0.75rem;
}

.pages a {
  margin-left: 10px;
}

.spcl {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}



/* tabs and ipads */
@media (max-width: 1024px) {

  .navaddress,
  .navflag,
  .navbox4 {
    display: none;
  }

  .navbar {
    justify-content: space-between;
    padding: 0 12px;
  }

  .navsearch {
    width: 60%;
  }

  .panel {
    display: none;
  }

  .herosection {
    display: none;
  }


  .box {
    width: 45%;
    margin-bottom:15px;
  }

  .shopsection {
    margin-top: 20px;
  }
}
@media(max-width:1280px){
  .box{
    margin-bottom:15px;
  }
}

/* phones or iphones */
@media (max-width: 768px) {

 
  .navaddress,
  .navflag,
  .navbox4,
  .navlogo {
    display: none;
  }

  .navbar {
    justify-content: space-between;
    padding: 0 10px;
  }

  .navsearch {
    width: 100%;
    margin: 0 8px;
  }

  .navselect {
    display: none;
  }

   .navcart {
    padding-top: 0;
    height: auto;
    padding-left:4px;
  } 
  .panel {
    display: none;
  }
  .herosection {
    display: none;
  }
  .box {
    width: 95%;
    margin-bottom:15px;
    
  }

  .shopsection {
    margin-bottom: 20px;
  }
  .footpanel3 {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .footpanel3 ul {
    margin-bottom: 20px;
  }

  .footpanel5 {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }
}


/* small screens*/
@media (max-width: 480px) {

  .navlogo {
    display:none;
  }

  .navsearch {
    height: 36px;
  }

  .navinput {
    font-size: 0.9rem;
  }

  .searchicon {
    width: 40px;
  }
  .box{
    margin-bottom:15px;
  }
}



